{% extends 'user/base.html' %}
{% load static %}
{% block title %}
  <title>SignUp</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock title %}

{% block content %}
<section>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="box">
      <div class="square" style="--i:0"></div>
      <div class="square" style="--i:1"></div>
      <div class="square" style="--i:2"></div>
      <div class="square" style="--i:3"></div>
      <div class="square" style="--i:4"></div>
      <div class="container">
        <div class="form">
          <h2>SingUP form</h2>
          <form id='idForm' method="post" action="{% url 'api_user:create' %}" enctype="multipart/form-data">
              <div class="inputBox">
                <input type="text" name='username' placeholder="Username">
              </div>
              <div class="inputBox">
                <input type="email" name='email' placeholder='Email'>
              </div>
              <div class="inputBox">
                <input type="password" name="password" placeholder='Password'>
              </div>
              <div class="inputBox">
                <input type="password" name="password2" placeholder='Confirn Password'>
              </div>
              <div class="inputBox">
                <input type="submit" value='SingUp'>
              </div>
              <p class='forget'>Forgot Password ? <a href="{% url 'reset_password' %}">Click</a> </p>
              <p class='forget'>Don't have an account ? <a href="{% url 'signup' %}">Sing up</a> </p>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script>
    $("#idForm").submit(function(e) {
    
    
        var form = $(this);
        var url = form.attr('action');
    
        $.ajax({
               type: "POST",
               url: url,
               data: form.serialize(), // serializes the form's elements.
               success: function(data)
               {
                location.replace("{% url 'login' %}");
               },
                error: function(data)
                {
                    var data = data.responseJSON;
                    var mss = '';
                    for(var i=0; i<data.email.length; i++){
                        mss += data.email[i] + '\n';
                    }
                    for(var i=0; i<data.username.length; i++){
                        mss += data.username[i] + '\n';
                    }
                    for(var i=0; i<data.password.length; i++){
                        mss += data.password[i] + '\n';
                    }
                    alert(mss);
                }
             });
    
        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
    </script>
{% endblock content %}
