{% extends 'post/base.html' %}
{% load static %}
{% block title %}
  <title>{{title}}</title>
{% endblock title %}

{% block content %} 
<div class="content">
  <h2 id='username_profile'></h2>
  <p id='email_profile'></p>

  <a href="{% url 'profileupdate' %}">Update</a>
</div>
<div class="imgBx" id='imgBx'>
  <img id="img_profile" src="#">
</div>

  <script>
    var profile_url = "{% url 'api_user:manage' %}";

    $(document).ready(function() {

      $.ajax({
          type: "GET",
          url: profile_url,
          processData: false,
          contentType: "application/json",
          data: '',
          headers: {
                  'Authorization': token
                },
          success: function(r) {
            $('#username_profile').text(r.username);
            $('#email_profile').text('Email : ' + r.email);
            $('#img_profile').attr('src', r.image);
          },
          error: function(r) {
              // console.log("Something went wrong!");
          }
      });
      

    })
  </script>
{% endblock content %}
