.autocom-box ul{
  padding: 20px;
}

.autocom-box ul li{
  list-style: none;
  padding-top: 10px;
}
.autocom-box ul li a{
  text-decoration: none;
}
.autocom-box ul li a:hover{
  color: #fff;
  border-bottom: 3px #fff dashed;
}
